table 
{
    border-collapse:collapse;
    margin-top: 300px;
    border: solid black;}

caption
{
    text-align: center;font-size: 16px;}
td, th
{
    border: thin solid  black;
    padding: 10px;}

td:first-child 
{
    width: 150px;
    text-align: right; }

.greencolor 
{
    background-color: mediumspringgreen;}
.redcolor
{
    background-color: palevioletred;}
thead
{
    background-color: silver; font-weight: bold;text-align: center;}
tfoot th
{
    background-color: silver;
    text-align: left;
    font-weight: normal;}
.numbers
{
    text-align: center;background-color: mediumspringgreen;}

